doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title /Vewcomers

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Newcomers
        h3 
          li 1. Iqbal Fahlevi        (121113070)
          li 2. Santy Andriani       (121113495)
          li 3. Novayanti Nainggolan (121113053)
          li 4. Katerine Silaban     (121112953)
      section
        h1 P S I K O P A T  ? ?
      
      section
        h2 Apa Itu Psikopat ?
        p 
        h3 PSIKOPAT Secara Harfiah berarti sakit jiwa.
        p  Pengidapnya juga sering disebut sebagai sosiopat, karena perilakunya yang antisosial dan merugikan orang-orang terdekatnya. Psikopat berasal dari kata psyche yang berarti jiwa dan pathos yang berarti penyakit. Psikopat tak sama dengan gila (Skizofrenia/psikosis) karena seorang psikopat sadar sepenuhnya atas perbuatannya. Gejalanya sendiri sering disebut psikopati. Pengidapnya sering kali disebut "orang gila tanpa gangguan mental".
        p  Menurut penelitian sekitar 1% dari total populasi dunia mengidap psokopati. Pengidap ini sulit dideteksi karena sebanyak 80% lebih banyak yang berkeliaran daripada yang mendekap di dalam penjara atau rumah sakit jiwa, pengidapnya juga dapat di sembuhkan.

      section
        h2 Ciri-Ciri Psikopat
        h3  Tidak Stabil Dalam Pekerjaan
        p Sering kali, psikopat tidak bisa mempertahankan pekerjaan mereka karena memiliki sifat pembangkang. mereka mengabaikan aturan kerja, seperti tiba tidak tepat waktu.selain itu, alasan penghentian mereka biasanya mencakup pembangkangan, karena mereka tidak menghormati orang-orang yang memiliki kontrol ats mereka, seperti Bos mereka.

      section 
        h3 Memperlakukan Orang Asing Tidak Ramah
        p  Ada pepatah, jika anda ingin tahu siapa seseorang sebenarnya adalah perhatian bagaimana dia memperlakukan orang lain. Psikopat menganggap orang asing adalah musuh mereka.

      section
        h3 Menguasai Seni Pesona
        p  Apakah dia seorang pribadi yang ramah dan pandai bicara? sebaiknya anda hati-hati. Psikopat berpura-pura mendapatkan empati seseorang demi mendapatkan apa yang dia inginkan.Psikopat menggunakan pesona untuk memanipulasi,mengotrol,dan menutupi sifat asli mereka.

      section
        h3 Tidak Pernah Salah
        p  Seorang psikopat tidak pernah salah, apa yang mereka lakukan dianggap selalu benar dibandingkan orang lain.Psikopat merasa hidup mereka gagal, sehingga harus mengambil apa yang mereka bisa dapat kan dari orang lain. mereka tidak memiliki belas kasihan atau rasa bersalah.

      section
        h2 Gejala-Gejala Psikopat
        p
          li 1.Sering berbohong, fasih, dan dangkal
          li 2.Egosentris dan menganggap dirinya hebat
          li 3.Tidak punya rasa sesal dan rasa bersalah
          li 4.Senang melakukan pelanggaran di waktu kecil
          li 5.Sikap acuh tak acuh terhadap masyarakat
          li 6.Kurang empati

      section
        h2 Cont...
        p
          li 7.Psikopat juga teguh dalam bertindak agresif, menantang nyali dan perkelahian, jam tidur larut dan sering keluar rumah
          li 8.Impulsif dan sulit mengendalikan diri
          li 9.Tidak mampu bertanggung jawab dan melakukan hal-hal demi kesenangan belaka
          li 10.Manipulatif dan curang
          li 11.Hidup sebagai parasit karena memanfaatkan orang lain untuk kesenangan dan kepuasan dirinya
          li 12.Biasanya sangat cerdas dan mungkin paling cerdas ketika dibandingkan dengan anak-anak yang lain
          li 13.Biasanya banyak mengetahui sesuatu yang tidak diketahuinya dan marah jika orang lain menyalahkannya
          li 14.Mengetahui sesuatu yang tidak diketahui. Biasanya banyak yang benar dan sangat sedikit sekali yang salah.
          li 15.Memiliki perkiraan dengan akurasi yang tinggi
      section
        h2 Contoh Kasus !!!
        h3 Karla Homolka asal Kanada
        p
          dikenal karena sangat suka membantai sesama wanita, termasuk adik wanitanya. Kasus Karla ini digambarkan sebagai salah satu kasus pembunuhan berantai paling mengerikan yang dilakukan oleh seorang wanita. Terhadap para wanita korbannya, dia tidak langsung membunuh, tapi sebelumnya ia membius mereka, kemudian diperkosa lalu dibantai.

      section
        h2 Film yang Bertema Psikopat
        h3 Berikut ini adalah beberapa dari film yang bertemakan psikopat :
        p
          li 1. American Psycho
          li 2. The American Friend
          li 3. The Bad seed
          li 4. Black House
          li 5. Black Window

      
      section
        h2 Test Sederhana Psikopat
        h3 Apakah anda seorang Psycho ?
        p
           1. Ada seorang anak yang mendapat hadiah ulang tahun berupa sepeda dan sepatu bola (ada versi yang menyebutkan bola sepak). Namun ia membencinya. Kenapa?
       section
         p
           2. Ada dua orang wanita bersaudara, Bertha dan Martha. Suatu hari ibu mereka meninggal dan pada hari pemakamannya, Bertha melihat sesosok pria yang sangat tampan. Ia langsung jatuh cinta pada pemuda itu. Namun ia tak berhasil menemukannya karena tak tahu siapa dia sebenarnya. Nah, pada suatu hari Bertha membunuh saudarinya, Martha. Kenapa?

      section
         p
           3. Engkau menginap di lantai 10 sebuah hotel. Suatu malam kau melongok dari balkon dan melihat seorang pembunuh menghabisi korbannya. Sang pembunuh tak sengaja melihatmu. Dari atas kau bisa melihat ia mendekatkan jarinya ke wajahnya dan membuat gesture (gerakan tubuh). Apa yang ia lakukan?
      section
         p
           4. Andaikan kau harus membunuh seseorang dan ia sedang bersembunyi di dalam lemari, apa yang akan kau lakukan?

      section
        h2 Apa Bisa Disembuhkan ?
        p
<<<<<<< HEAD
          Seorang Psikopat belum bisa dipastikan dapat disembuhkan atau tidak. Hanya saja dengan bertambahnya usia maka akan hilang perlahan-lahan. Karena fisik yang sudah tidak baik lagi. Maka dari itu Waspadai anak yang pemarah, suka berkelahi dan melawan, melanggar aturan merusak, dan bengis terhadap hewan serta anak yang lebih kecil.
      section
        h1 TERIMAKASIH 

=======
        h3 Seorang Psikopat belum bisa dipastikan dapat disembuhkan atau tidak. Hanya saja dengan bertambahnya usia maka akan hilang perlahan-lahan. Karena fisik yang sudah tidak baik lagi. Maka dari itu Waspadai anak yang pemarah, suka berkelahi dan melawan, melanggar aturan merusak, dan bengis terhadap hewan serta anak yang lebih kecil.

      section
        h2 Ada Pertanyaan ??
>>>>>>> e3af3054c200262344b9462e73f47346baa3fc81

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild